.strong {
	font-weight: bold;
}

.marker {
	background: yellow;
}

.group-box {
	border: 1px solid #CECECE;
	margin: 0 2px;
  	padding: 0.35em 0.625em 0.75em;
}

.group-box-title {
	padding: 0 10px 0 10px;
	font-size: 14px;
	font-weight: bold;
	border: 0;
	width: auto;
}

.table-dark-border {
	border: 2px solid #9E9E9E;
}

.table-dark-border tr td, .table-dark-border tr th {
	border: 1px solid #424242;
}
